header {
  display: flex;
  z-index: 1000;

  height: 100px;
  width: 100%;
  background-color: var(--off-white-color);
}

.sticky {
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  margin: var(--space-xs);
  font-family: "Nunito Sans", Verdana, Geneva, Tahoma, sans-serif;
}

nav a {
  margin: 3%;
  font-size: 18px;
  padding: 8px 24px;
}

#openMenu,
#closeMenu {
  border: none;
  background: none;
  display: none;

  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  padding: 0px 5px 0px 5px;
}

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;

    right: 15px;
    top: 15px;
  }

  nav {
    position: fixed;
    top: 100px;
    right: 0;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    display: none;

    margin: 0;
    width: 100vw;
    transition: 0.3s;
    background: rgba(255, 255, 255, 1);
  }
}
