.card-profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  gap: 24px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1.25rem;
  background: var(--light-orange-color);
}

.card-profile-box .social-icons {
  gap: 8px;
}

#hero-img {
  /* position: relative is needed to make z-index working */
  position: relative;
  z-index: 1;

  height: 281px;
  filter: grayscale(100%);
  margin-top: var(--space-xl);
}

#hero-img:hover {
  filter: none;
}

.bg-img {
  position: absolute;

  top: 0;
  left: -24px;

  width: 300px;
  height: 281px;
  background: var(--blue-color);
}

.card-profile-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-profile-txt h2 {
  margin-bottom: var(--space-m);
}

.card-container-txt {
  display: flex;
  flex-direction: column;

  gap: var(--space-m);
}

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  .bg-img {
    width: 200px;
    height: 188px;
  }

  #hero-img {
    width: 200px;
    height: 188px;
    margin-top: 24px;
  }
}
