/* --------Contact section---------- */

.contact-container {
  display: flex;
  position: relative;

  padding: 1.25rem;
  margin-top: var(--space-l);
  background: var(--white-color);
}

.contact-container > div {
  position: relative;
}

.contact-header {
  z-index: 2;
  left: 1px;
  position: relative;

  margin: var(--space-s);
  border: 2px solid var(--border-grey-color);
  background-color: var(--off-white-color);
}

.contact-header h2 {
  margin: 0;
  height: 66px;
  padding: 16px;
}

.bg-contact {
  position: absolute;

  width: 228px;
  height: 66px;

  left: 24px;
  top: 24px;
  background: var(--blue-color);
}

/* -------------------------------------- */

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  .bg-contact {
    width: 192px;
  }
}
