/* --------about infos------------ */

.container-about {
  display: flex;
  flex-direction: column;

  gap: 16px;
  width: 100%;
  padding: 1.25rem;
  background: var(--off-white-color);
}

.container-about > div {
  gap: var(--space-m);
}

.about {
  text-align: center;
  padding: 8px;
}

.about h1 {
  margin: var(--space-m);
}

.about p {
  text-align: left;
  margin-top: var(--space-xs);
}

/* -------------------------------------- */

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  .profile,
  .about {
    flex-wrap: wrap;
  }

  #about {
    display: flex;
    flex-direction: column;
  }

  main #about {
    width: fit-content;
  }
}
