/* -------filter section--------- */

.filter {
  display: flex;
  align-items: center;
  align-self: center;

  height: 46px;
  min-width: 690px;
  gap: 8px;
  margin-top: var(--space-l);
}

.filter > button {
  justify-content: center;
  width: fit-content;
  height: inherit;
  flex: 1 1 100%;

  padding: 8px;
  margin: 8px;
  cursor: pointer;
  border: 1px solid var(--border-grey-color);
}

@media only screen and (max-width: 717px) {
  .filter {
    width: 100%;
    min-width: fit-content;
  }
}
