main #projects {
  display: flex;
  flex-direction: column;

  gap: 24px;
}

.card-project {
  display: flex;
  flex-direction: row;
  width: 80%;

  padding: 1.25rem;
  margin-top: var(--space-l);
  background: var(--off-white-color);
}

.card-project .info {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

.card-project h2 {
  align-self: center;
}

.project-tags {
  display: flex;
  align-items: center;

  gap: 16px;
  padding: 8px;
  max-height: 56px;
}

.project-tags img {
  height: 100%;
}

.project-tags p {
  margin-bottom: 0;
}

.project-link {
  display: flex;
  align-items: center;

  gap: 16px;
  padding: 8px;
  border: 1px solid var(--border-grey-color);
}

.github {
  background: var(--blue-color);
}

.project-screenshot {
  display: flex;
  align-items: flex-end;

  width: 100%;
}

.project-screenshot img {
  object-fit: contain;

  width: 100%;
}

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  .card-project {
    flex-direction: column;
    width: 100%;
  }

  .project-screenshot img {
    margin-top: var(--space-l);
  }
}
