main {
  display: flex;
  flex-direction: column;

  margin: 88px;
  gap: 24px;
}

main > div {
  display: flex;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-top: var(--space-l);
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  transform: scale(1.1);
}

.active {
  background: var(--dark-orange-color);
}

.active2 {
  background: var(--blue-color);
}

.highlight {
  display: inline;
  text-decoration: none;

  background-size: 100% 8px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size 0.3s ease-out 0s;
  background-image: linear-gradient(90deg, rgb(145, 185, 202), rgb(145, 185, 202));
}

.highlight:hover {
  display: inline;
  text-decoration: none;

  background-size: 100% 2px;
  background-position: 0 100%;

  background-repeat: no-repeat;
  transition: background-size 0.3s ease-out 0s;
  background-image: linear-gradient(90deg, rgb(145, 185, 202), rgb(145, 185, 202));
}

.focus {
  display: inline;
  text-decoration: none;

  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: 0% 100%;
  transition: background-size 0.3s ease-out 0s;
  background-image: linear-gradient(90deg, rgb(145, 185, 202), rgb(145, 185, 202));
}

.focus:hover {
  background-size: 100% 2px;
}

.top {
  position: fixed;
  z-index: 99;
  bottom: 50px;
  right: 8px;

  outline: none;
  cursor: pointer;
  background-color: transparent;

  font-size: 40px;
  line-height: 30px;

  border-radius: 50%;
  padding: 12px 12px 0px 12px;

  color: var(--txt-dark-grey-color);
  border: 1px solid var(--border-grey-color);
  box-shadow: 2px 2px 2px var(--light-grey-color);
}

.top:hover {
  background-color: var(--dark-orange-color);
}

/* Global icons */

.icon {
  height: 64px;
}

.social-icons {
  display: flex;
  align-self: center;
  align-items: center;
}

.social-icons a {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* screen from 375px to 1340px */
@media only screen and (max-width: 1340px) {
  main {
    align-items: center;
    margin: 24px;
  }

  .icon {
    height: 32px;
    width: 32px;
  }

  .social-icons img {
    width: 32px;
    height: 32px;
  }
}
