/* ----------Media query--------------- */

/* screen from 717px to 923px */
@media only screen and (max-width: 923px) {
  .profile,
  .about {
    flex-wrap: wrap;
  }

  #about {
    /* border: 10px solid rgb(69, 95, 180); */
    display: flex;
    flex-direction: column;
  }
  main {
    border: 1px solid blue;
  }
}

/* screen from 375px to 716px */
@media only screen and (max-width: 717px) {
  /* body {
    line-height: 1.35;
  }

  h1 {
    font-size: 1.424rem;
    align-items: center;
  }

  h2 {
    font-size: 1.266rem;
  }

  h3 {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 1rem;
  } */

  /* #openMenu,
  #closeMenu {
    display: block;
  }

  #openMenu {
    margin-left: auto;
  }

  #closeMenu {
    position: fixed;
    right: 15px;
    top: 15px;
  }

  nav {
    position: fixed;
    top: 100px;
    right: 0;

    flex-direction: column;
    width: 100vw;
    height: fit-content;
    background: rgba(255, 255, 255, 1);
    align-items: center;
    justify-content: center;
    margin: 0;
    display: none;
    transition: 0.3s;
  } */

  /* .profile,
  .about {
    flex-wrap: wrap;
  } */

  /* .bg-contact {
    width: 192px;
  } */

  /* #about {
    display: flex;
    flex-direction: column;
  } */

  /* .filter {
    width: 100%;
    min-width: fit-content;
  } */

  /* .card-project {
    flex-direction: column;
    width: 100%;
  }

  .project-screenshot img {
    min-width: none;
    margin-top: var(--space-l);
  } */

  /* .bg-img {
    width: 200px;
    height: 188px;
  }

  #hero-img {
    margin-top: 24px;
    width: 200px;
    height: 188px;
  } */

  /* main #about {
    width: fit-content;
  } */

  /* main {
    align-items: center;
    margin: 24px;
    border: 1px solid red;
  } */

  /* .icon {
    height: 32px;
    width: 32px;
  } */

  /* .social-icons img {
    width: 32px;
    height: 32px;
  } */

  /* .icon-collection > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}
